#media
**/*.jpeg
**/*.png



#compiled files
**/*.pyc
*/attention/attention_scores_*.json
dit_serve/model.zip
dit_serve/Dit_model/*

#log files
**/logs/*
**/model_store/*


**/*_model
**/*.zip

**/*.safetensors
**/*.pth
**/*.pt

**/wandb

**/*.egg-info
scripts/batch_results.json
